<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1174.vdcb_d054cf74a_">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@2.2064.v5eef7d0982b_e"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@2.2064.v5eef7d0982b_e">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.jira.JiraProjectProperty plugin="jira@3.7.1"/>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2660.vb_c0412dc4e6d">
    <script>pipeline {
    agent any

    stages {
        stage(&apos;Build&apos;) {
            steps {
                sh &quot;&quot;&quot;
                docker build -t test-mysql $JENKINS_HOME/Database_setup
                docker build -t test-app -f $JENKINS_HOME/basic/app.Dockerfile $JENKINS_HOME/basic
                docker build -t test-kong -f $JENKINS_HOME/basic/kong.Dockerfile $JENKINS_HOME/basic
                docker build -t my-loki -f $JENKINS_HOME/logging_setup/loki.Dockerfile $JENKINS_HOME/logging_setup
                &quot;&quot;&quot;
            }
        }
        stage(&apos;Deploy&apos;) {
            stages {
                stage(&apos;Deploy Database&apos;) {
                    steps {
                        sh &quot;&quot;&quot;
                        docker-compose -f $JENKINS_HOME/Database_setup/docker-database.yml up -d
                        &quot;&quot;&quot;
                    }
                }
                stage(&apos;Deploy App&apos;) {
                    steps {
                        sleep 10
                        sh &quot;&quot;&quot;
                        docker-compose -f $JENKINS_HOME/basic/docker-app.yml up -d
                        &quot;&quot;&quot;
                    }
                }
            }
        }
        stage(&apos;Test&apos;) {
            steps {
                echo &apos;test app&apos;
            }
        }
    }
}
</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>